/**@import "tokens/colors.css";
@import "tokens/state.css";
@import "tokens/workspace.css";
@import "tokens/widget.css";
@import "tokens/batt-clock.css";
@import "tokens/slider.css";
**/
@import "tokens/oldstyle.css";



     * {
       font-family: "JetBrainsMono Nerd Font", monospace;
       /* color: #ffffff;*/
       /* color: #000000;  */
       color: @all-color;
     }

     #custom-launcher {
       padding: 0 12px;
       border-radius: 4px;
       font-size: 22px;
       /*  color: #ede2dc;*/
       /*  color: #000000;*/
       color: @custom-launcher-color;
     }

     #custom-control-panel {
       padding: 0 12px;
       border-radius: 4px;
       font-size: 18px;
       /*  color: #c7d0e9;*/
       /*  color: #9bff3d;*/
       /*  color: #000000;  */
       color: @custom-control-panel;
     }

     #custom-launcher:hover,
     #custom-control-panel:hover,
     #taskbar button:hover {
       background-color: rgba(255, 255, 255, 0.2);
     }

     window#waybar {
       /*  background-color: rgba(45, 47, 59, 0.9);*/
       /* background-color: rgba(208, 229, 234, 0.8);  */
       background-color: @waybar-color
     }

     #taskbar button {
       padding: 0 14px;
       border-radius: 4px;
     }

     #taskbar button.active {
       background-color: rgba(255, 255, 255, 0.3);
     }

     #custom-show-desktop {
       padding: 0 6px;
       margin-right: 2px;
       background: rgba(255, 255, 255, 0.05);
       transition: background 0.2s;
     }

     #custom-show-desktop:hover {
       background: rgba(255, 255, 255, 0.25);
     }

     #workspaces button {
       padding: 0 8px;
       transition: background-color 0.2s ease;
       color: #cad3f5;
       font-size: 16px;
       /* ليناسب حجم الساعة الجديد */
     }

     #workspaces button.active {
       color: #ed8796;
       /* لون مميز للمساحة النشطة */
       border-bottom: 2px solid #ed8796;
     }

     #workspaces button:hover {
       background-color: rgba(255, 255, 255, 0.15);
     }


     #network.disconnected {
       color: #f38ba8;
       /* لون أحمر للتنبيه عند انقطاع النت */
     }

     #pulseaudio.muted {
       color: #f8f8f2;
     }

     /* تنسيق صندوق التنبيه (Tooltip) بالكامل */
     tooltip {
       background: rgba(30, 30, 46, 0.9);
       /* خلفية داكنة شفافة */
       border: 1px solid #c6a0f6;
       /* إطار بنفسجي نحيف */
       border-radius: 10px;
       /* حواف دائرية */
     }

     tooltip label {
       /* ضروري جداً لمحاذاة أرقام التقويم */
       font-family: "JetBrainsMono Nerd Font";
       font-size: 18px;
       padding: 15px 15px;
       color: #cad3f5;
     }

     /* الإعداد العام لكل الوحدات لتكبير الخط */
     #clock,
     #clock.date,
     #cpu,
     #memory,
     #pulseaudio,
     #language,
     #custom-theme_toggle,
     #custom-reddit_news,
     #custom-hyprland_news,
     #custom-kmp_news,
     #network {
       font-size: 16px;
       /* تكبير الخط هنا، يمكنك زيادته إلى 18px إذا أردت */
       font-weight: 500;
       padding: 0 10px;
       /*  color: #000000;*/
     }

     #custom-prayer {
       font-family: "Vazirmatn", "Ubuntu", "sans-serif";
       font-size: 14px;
       font-weight: 500;
       /* color: #89b4fa; */
       /* color: #000000;*/
       color: @custom-prayer-color;
       padding: 0 8px;
     }

     #custom-theme_toggle {
       color: @dark-light-color;
     }

     #cpu {
       /* color: #c6a0f6;*/
       color: @cpu-color;
     }

     #memory {
       /*  color: #f5a97f;*/
       color: @memory-color;
     }

     #clock {
       /*  color: #eed49f; */
       color: @clock-color;
     }

     #clock.date {
       /* color: #ed8796;*/
       color: @date-color;

     }

     #network {
       color: @network-color;
     }

     #pulseaudio {
       /*  color: #eed49f;*/
       color: @pulseaudio-color;
     }

     #language {
       /* color: #8bd5ca; */
       color: @language-color;
     }

     #custom-reddit_news {
       color: @reddit_news-color;
     }

     #custom-hyprland_news {
       color: @hyprland_news-color;
     }

     #custom-kmp_news {
       color: @kmp_news-color;
     }