@import "tokens/colors.css";
@import "tokens/state.css";
@import "tokens/widget.css";
@import "tokens/clock.css";
@import "tokens/slider.css";

@import "tokens/oldstyle.css";



     * {
       font-family: "JetBrainsMono Nerd Font", monospace;
       /* color: #ffffff;*/
       /* color: #000000;  */
       color: @all-color;
     }

     window#waybar {
       /*  background-color: rgba(45, 47, 59, 0.9);*/
       /* background-color: rgba(208, 229, 234, 0.8);  */
       background-color: @waybar-color
     }

 

     /* تنسيق صندوق التنبيه (Tooltip) بالكامل */
     tooltip {
       background: rgba(30, 30, 46, 0.9);
       /* خلفية داكنة شفافة */
       border: 1px solid #c6a0f6;
       /* إطار بنفسجي نحيف */
       border-radius: 10px;
       /* حواف دائرية */
     }

     tooltip label {
       /* ضروري جداً لمحاذاة أرقام التقويم */
       font-family: "JetBrainsMono Nerd Font";
       font-size: 18px;
       padding: 15px 15px;
       color: #cad3f5;
     }



