
@import "/home/benattia/.cache/wallust/waybar.css";
/*@import "tokens/wallust.css";*/
/*@import "/home/benattia/nixos-config/mynixos/programs/waybar/dotfiles/tokens/wallust.css";*/
@import "tokens/colors.css";
@import "tokens/state.css";
@import "tokens/widget.css";
@import "tokens/clock.css";
@import "tokens/slider.css";



* {
  font-family: "JetBrains Mono", "Symbols Nerd Font Mono", monospace;

  color: @all-color;
}

window#waybar {
   background-color: @color0;
}





/* تنسيق صندوق التنبيه (Tooltip) بالكامل */
tooltip {
  background: rgba(30, 30, 46, 0.9);
  /* خلفية داكنة شفافة */
  border: 1px solid #c6a0f6;
  /* إطار بنفسجي نحيف */
  border-radius: 10px;
  /* حواف دائرية */
}

tooltip label {
  /* ضروري جداً لمحاذاة أرقام التقويم */
  font-family: "JetBrainsMono Nerd Font";
  font-size: 18px;
  padding: 15px 15px;
  color: #cad3f5;
}