@import "colors.css";

/*======= MODULE INDEPENDENT =======*/
#distro-group {
  margin: 4px 5px;
  background-color: @surface_container;
  border-radius: 20px;
  color: @primary;
}

#custom-distro {
  color: @primary;
  padding: 6px 15px 6px 10px;
}

#custom-terminal {
  color: #a6e3a1;
  padding: 0px 10px;
}

#custom-code {
  color: #89b4fa;
  padding: 0px 10px;
}

#custom-office {
  color: #ff6f4c;
  padding: 0px 10px;
}

#custom-obsidian {
  color: #cba6f7;
  padding: 0px 10px;
}

#custom-files {
  color: #f9e2af;
  padding: 0px 10px 0px 8px;
}

#custom-spotify {
  color: #1db954;
  padding: 0px 10px;
}

#custom-browser {
  color: #fab387;
  padding: 0px 15px 0px 10px;
}

#power-profiles-daemon,
#idle_inhibitor {
  margin: 4px 5px;
  padding: 6px 15px 6px 10px;
  background-color: @surface_container;
  border-radius: 20px;
  color: @secondary_fixed_dim;
}

/*======= MODULE CAPSUL =======*/
#audio,
#system,
#news,
#themes,
#language,
#custom-prayer {
  margin: 3px 2px;
  padding: 4px 6px;
  background-color: @surface_container;
  border-radius: 20px;
  color: @secondary_fixed_dim;
}

#connections {
  margin: 4px 2px;
  padding: 0px 2px 0px 8px;
  background-color: @surface_container;
  border-radius: 20px;
  color: @secondary_fixed_dim;
}

#disk,
#memory,
#cpu,
#temperature,
#bluetooth,
#custom-reddit_news,
#custom-hyprland_news,
#custom-kmp_news,
#custom-theme_switch,
#custom-iconstheme_switch,
#custom-waybar_style_toggle,
#custom-prayer {
  margin: 3px 2px;
  /* margin-right: 2px;*/
  padding: 0 8px;
  /*old*/
  /* font-size: 16px;
  font-weight: 500;
  padding: 0 10px; */
}

#custom-reddit_news {
  color: @reddit_news-color;
}

#custom-hyprland_news {
  color: @hyprland_news-color;
}

#custom-kmp_news {
  color: @kmp_news-color;
}

/*old*/
#cpu {
  color: @cpu-color;
}

#memory {
  color: @memory-color;
}

#custom-theme_toggle {
  color: @dark-light-color;
}

#network {
  padding: 0px 10px 0px 4px;
  color: @network-color;
}

#network.disconnected {
  color: #f38ba8;
}

#pulseaudio {
  margin-right: 8px;
  margin-left: 8px;
  color: @pulseaudio-color;
}

/*===== TASKBAR =====*/
#taskbar button {
  padding: 0 14px;
  border-radius: 20px;
}

#taskbar button.active {
  background-color: rgba(255, 255, 255, 0.3);
}

/*======= PRAYER =======*/
#custom-prayer {
  font-family: "Vazirmatn", "Ubuntu", "sans-serif";
  /* font-size: 14px;
  font-weight: 500; */
  /* color: #89b4fa; */
  /* color: #000000;*/
  color: @custom-prayer-color;

}

/*======= LANGUAGE =======*/
#language {
  /* color: #8bd5ca; */
  color: @language-color;
}

/*======= LAUNCHER and control-panel =======*/
#custom-control-panel {
  margin: 4px 12px 4px 2px;
  padding: 0px 8px;
  border-radius: 20px;
  /* font-size: 18px; */
  /*  color: #c7d0e9;*/
  /*  color: #9bff3d;*/
  /*  color: #000000;  */
  color: @custom-control-panel;
  background-color: @surface_container;
}

#custom-launcher {
  margin: 4px 2px 4px 12px;
  padding: 0px 8px;
  border-radius: 20px;
  color: @custom-launcher-color;
  background-color: @surface_container;
}

#custom-launcher:hover,
#custom-control-panel:hover,
#taskbar button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/*======= TRAY =======*/
#tray-group {
  margin: 4px 5px;
  padding: 0px 0px 0px 3px;
  background-color: @surface_container;
  border-radius: 20px;
}

#custom-tray-arrow {
  padding: 6px 14px 6px 10px;
  color: @primary;
}

#tray {
  padding: 6px 10px;
}

#tray>.passive,
#tray>.active,
#tray>.needs-attention {
  -gtk-icon-effect: none;
}